<!DOCTYPE html>
<html>
        <head>
            <title>Login Page</title>
        </head>
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="/css/style2.css")}}">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <body>
            <div class="container">
                <div class="register">
                    <form class="form" name="myform" action="/patlogin"methods="GET">
                        <h3>Patient Login Form</h3>
                        <label>Patient name</label>
                        <input type="name" placeholder="Your name" class="box" name="name" required><br>
                        <h6 id="e"style="color: red;"></h6>
                        <label>Card number</label>
                        <input id="typecard"type="text" class="" name="cardnum" placeholder="Your Cardnumber" required><br>
                        <h6 id="pwd" style="color: red;"></h6>
                        <div style="text-align: center;margin-right:10px;">
                        <button onclick="valid()"type="submit" name="login" value="login" class="btn btn-outline-success">login</button>
                        </form>
                  
                </div>
            </div>
        </body>
    </html>
