.container{
    height: 50vh;
    width: 100%;
    border: 1px solid black;
    background-color: aliceblue;
    padding-left: 50px;
}
.heading{
    color: green;
}
body{
    background-color: #16a085;
}